<ion-view title="Image Feed">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="doSomeAction()">
            Do Something
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
    <div class="box">
		<img class="centered" ng-if="isChecked" src="img/strawberry.png" style="width:150px;height:150px;">
	</div>
	<div class="box">
		<input class="centered" type="checkbox" ng-model="isChecked" style="width:40px;height:40px;"/>
	</div>
</ion-view>
